{% extends "layouts.html" %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-4">ARTICLES PAGE</h1>
    <p class="lead">This Application is build using by python and Flask Framework</p>
    <hr class="my-4">
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">id</th>
            <th scope="col">title</th>
            <th scope="col">description</th>
            <th scope="col">author</th>
            <th scope="col">DATE</th>
            <th scope="col">EDIT</th>
          </tr>
        </thead>
        <tbody>
            {% for article in articles %}
          <tr>
            <th scope="row">{{article['id']}}</th>
            <td>{{article['title']}}</td>
            <td>{{article['body']}}</td>
            <td>{{article['author']}}</td>
            <td>{{article['create_date']}}</td>
            <td><button type="button" class="btn btn-warning">EDIT</button></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      
      
    <a class="btn btn-warning btn-lg" href="#" role="button">Learn more</a>
  </div>
{% endblock %}